

body {
    background-color:white;
}

h3 {
  text-align: center;
  text-decoration: bold;
  text-shadow: 5px 2px 4px cyan;
  
  }
  
#house {
    float:left;
    height:20px;
    width:20px;
    padding-top:20px;
    padding-left:10px;
}

#dots {
    float:right;
    height:50px;
    width: 90px;
}

m {
  text-align:right;
  color:white;
  font-size:20px;
  vertical-align:top;
  display:block;
}

nav .Outer {
    border-bottom:1px rgb(46, 116, 122);
    height:60px;
    line-height:60px;
    background-color: rgb(67, 141, 224);
}

nav .Inner {
    border: 1px rgb(88, 144, 149);
    height:45px;
    position: absolute;
    background-color: #81cdfc;
    border-radius: 10px;
    top: 8px;
    right: 100px;
    bottom: 98px;
    left: 40px;
    color: white;
    text-align:center;  
}

i {
    text-align:left;
    font-style:normal;
}

#lock {
    float:left;
    height:20px;
    width:20px;
    padding-top:13px;
    padding-left:10px;
}

#menu-icon {
    float:right;
    width:35px;
    height:35px;
}

img {
    display: block;
    margin: auto;
    padding: 0px;  
    height: 90px;
    width: 120px;
}

* { 
   margin: 0;
   padding: 0;
}

#myTable { 
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
  }​

#myTable th, #myTable td { 
  text-align: left;
  padding: 12px;
  }​
  
#myTable tr {
   border-bottom: 1px solid #ddd;
   }​

#myTable tr.header, #myTable tr:hover {  background-color: #f1f1f1; }

input {
    color: blue;
    margin-left: 50%;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    border-radius: 10px;
}

.learn a {
    color:black;
}

.learn {
    text-align:center;
    text-decoration:underline;
}

nav .share {
    text-decoration:none;
    display: block;
    margin: auto;
    width:150px;
    border-bottom:1px rgb(67, 141, 224);
    height:60px;
    line-height:60px;
    background-color:rgb(67, 141, 224);
    text-align:center;
    font-size:18px;
    border-radius: 4px;
}

nav .share a {
    font-style:normal;
    text-decoration:none;
    color:white;
}

.fa {
    color: grey;
    font-size: 35px;
    margin: 15px;
    width: 40px;
    height: 41.5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: .5s linear;
    float: right;
}

.fa:hover {
    font-size: 40px;
    margin: 10px;
    border-radius: 10px;
}

.fa-instagram:hover {
    color: white;
    background:linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

.fa-github:hover {
    color: black;
    background-color: #ffffff;
}
